<%- include('partials/header.ejs') %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="containerPage d-flex justify-content-center">
            <div class="navDiv">
                <%- include('partials/navbar.ejs') %>
            </div>
            <div class="wrapper">
                <!-- solid sales graph -->
                <!-- Custom tabs (Charts with tabs)-->
                <div class="card graphCard">
                    <div class="card-header">
                        <h3 class="card-title font-weight-bold">
                            <i class="fas fa-chart-pie mr-1"></i>
                            Indicadores
                        </h3>

                        <div class="card-tools d-flex align-items-center justify-content-end">
                            <ul class="nav nav-pills ml-auto d-flex align-items-center justify-content-end">
                                <li class="nav-item">
                                    <!-- Date and time range -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <button type="button"
                                                class="btn btn-default float-right font-weight-bold bg-warning text-white"
                                                id="daterange-btn">
                                                <i class="far fa-calendar-alt"></i> Date range picker
                                                <i class="fas fa-caret-down"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /.form group -->
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link font-weight-bold active" href="#igest-chart-tab"
                                        data-toggle="tab">
                                        IGEST
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link font-weight-bold" href="#armazenagem-chart-tab" data-toggle="tab">
                                        Armazenagem
                                    </a>
                                </li>

                                <li class="nav-item ml-2">
                                    <a class="nav-link font-weight-bold bg-danger text-white" href="/indicadores">
                                        Voltar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body graph igestCard active">
                        <div class="tab-content armazenagemGraph p-0 text-white">
                            <div class="chart tab-pane active" id="igest-chart-tab">
                                <div class="row p-4">
                                    <div class="col-4 text-center">
                                        <h4>Order Cycle Time (h) - Recebimento</h4><br>
                                        <h1 id="OCTM41">OCTM41</h1>
                                    </div>
                                    <div class="col-4 text-center text-white">
                                        <div class="text-white">
                                            <h4>Percentual Atendido</h4>
                                        </div><br>
                                        <input type="text" class="knob-atendido knob" id="knobAtendido">
                                    </div>
                                    <div class="col-4 text-center text-white">
                                        <h4>Order Cycle Time (h) - Separação</h4><br>
                                        <h1 id="OCTM51">OCTM51</h1>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <!-- /.row -->
                                <hr class="border border-white">
                                <div class="row p-4">
                                    <div class="col-6 text-center">
                                        <h4>Maior Tempo (h) / Qtd. - Recebimento</h4>
                                        <h1 id="maiorTempoRec">Maior Tempo / Qtd.</h1>
                                    </div>
                                    <div class="col-6 text-center text-white">
                                        <h4>Maior Tempo (h) / Qtd. - Separação</h4>
                                        <h1 id="maiorTempoSep">Maior Tempo / Qtd.</h1>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <!-- /.row -->
                                <div class="row p-4">
                                    <div class="col-6 text-center">
                                        <h4>Menor Tempo (h) / Qtd. - Recebimento</h4>
                                        <h1 id="menorTempoRec">Menor Tempo / Qtd.</h1>
                                    </div>
                                    <div class="col-6 text-center text-white">
                                        <h4>Menor Tempo (h) / Qtd. - Separação</h4>
                                        <h1 id="menorTempoSep">Menor Tempo / Qtd.</h1>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <!-- /.row -->
                                <hr class="border border-white">
                                <div class="row p-4">
                                    <div class="col-4 text-center">
                                        <h4>Total Recebimento</h4>
                                        <h1 id="totalRec">Total Recebimento</h1>
                                    </div>
                                    <div class="col-4 text-center text-white">
                                        <h4>Total Separação</h4>
                                        <h1 id="totalSep">Total Separação</h1>
                                    </div>
                                    <div class="col-4 text-center text-white">
                                        <h4>Total Expedição</h4>
                                        <h1 id="totalExp">Total Expedição</h1>
                                    </div>
                                    <!-- ./col -->
                                </div>
                            </div>
                            <div class="chart tab-pane active" id="armazenagem-chart-tab">


                                <div class="row p-2 justify-content-center">
                                    <div class="text-center">
                                        <h2>INDICADOR DE ARMAZENAGEM</h2>
                                        <h4>Un. / Pallets</h4>
                                        <h3 class="mt-4">Total:</h3>
                                        <h3 id="totalProdutosUnidadePallet">TOTUNI / TOTPAL</h3>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <hr class="border border-white">
                                <div class="row p-2">
                                    <div class="col-3 text-center">
                                        <input type="text" class="knob-enderecado knob" id="knobEnderecado">
                                        <h4>Endereçado</h4>
                                        <h3 id="totalEnderecado">Un. / Pallet</h3>
                                    </div>
                                    <div class="col-3 text-center text-white">
                                        <input type="text" class="knob-enderecado-nivel-um knob" id="knobEnderecadoNivelUm">
                                        <h4>Picking Nível 1</h4>
                                        <h3 id="totalEnderecadoNivelUm">Un. / Pallet</h3>
                                    </div>
                                    <div class="col-3 text-center text-white">
                                        <input type="text" class="knob-blocado knob" id="knobBlocado">
                                        <h4>Blocado</h4>
                                        <h3 id="totalBlocado">Un. / Pallet</h3>
                                    </div>
                                    <div class="col-3 text-center text-white">
                                        <input type="text" class="knob-bloqueado knob" id="knobBloqueado">
                                        <h4>Bloqueado</h4>
                                        <h3 id="totalBloqueado">Un. / Pallet</h3>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <hr class="border border-white">
                                <div class="row p-2">
                                    <div class="col-12 text-center">
                                        <h4>Capacidade de Armazenagem</h4>
                                        <h5>Pallets Armazenados / Capacidade Máxima</h5>
                                        <h3 id="capacidadeUtilizada">Pallets / 2517</h3>
                                        <input type="text" class="knob-capacidade-utilizada knob" id="knobCapacidadeUtilizada">
                                        <h5 id="avisoCapacidade">
                                            <i class="fa fa-exclamation-triangle mr-1 text-warning"></i>
                                            Capacidade Ultrapassada
                                        </h5>
                                    </div>
                                </div>


                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./wrapper -->
        </div>
    </body>
    <%- include('partials/footer.ejs') %>
        <script>
            frontendUrl = "<%= frontendUrl %>";
            backendUrl = "<%= backendUrl %>";
        </script>
        <!-- ChartJS -->
        <script src="/plugins/chart.js/Chart.min.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
        <!-- InputMask -->
        <script src="/plugins/moment/moment.min.js"></script>
        <!-- date-range-picker -->
        <script src="/plugins/daterangepicker/daterangepicker.js"></script>
        <script src="/js/igest.js"></script>
        <script>
            window.onload = function () {
                var title = document.getElementById("title");
                title.innerHTML = "INDICADORES DE GESTÃO";

                socket.emit("requireDashboardData", { operation: "igest" });
            };
        </script>

        </html>