<%- include('../partials/header.ejs') %>

	<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse justify-content-center">
		<%- include('../partials/navbar2.ejs') %>
			<div class="wrapper user">
				<%- include('../partials/sidebar.ejs') %>
					<div class="container">
						<br>
						<div class="alert alert-danger alert-dismissible rule-not-found" style="display: none;">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<h5><i class="icon fas fa-ban"></i> Erro! </h5>
							Não existe regra de frete cadastrada para os dados informados abaixo!
						</div>
						<section class="d-flex mt-5">
							<div class="row col-12">
								<div class="col-12 col-sm-12 col-md-12 col-lg-6 img-div">
									<div class="d-flex">
										<img src="/img/Carragamento.png" class="image-quotation" alt="">
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-12 col-lg-6">
									<form id="quotationForm" method="POST" action="/quotation/new" class="mb-5">
										<div class="card">
											<div class="card-header quotation-card-header">
												<div class="header-title">
													<p>Dados da Mercadoria</p>
												</div>
											</div>
											<div class="card-body">
												<div class="row col-12">
													<input type="hidden" id="user" name="user"
														value="<%= user.login %>">
													<div class="form-group col-sm-12 col-md-6 col-lg-6">
														<label id="estado-origem-label" for="estado-origem">Estado de
															Origem</label>
														<select class="form-control quotation-form-control select2"
															id="estado-origem" name="originState" style="width: 100%;"
															required tabindex="1"></select>
													</div>

													<div class="form-group col-sm-12 col-md-6 col-lg-6">
														<label id="estado-destino-label" for="estado-destino">Estado de
															Destino</label>
														<select class="form-control quotation-form-control select2"
															id="estado-destino" name="destinationState"
															style="width: 100%;" required tabindex="3"></select>
													</div>

													<div class="form-group col-sm-12 col-md-6 col-lg-6">
														<label id="cidade-origem-label" for="cidade-origem">Cidade de
															Origem</label>
														<select class="form-control quotation-form-control select2"
															id="cidade-origem" name="originCity" style="width: 100%;"
															required tabindex="2"></select>
													</div>

													<div class="form-group col-sm-12 col-md-6 col-lg-6">
														<label id="cidade-destino-label" for="cidade-destino">Cidade de
															Destino</label>
														<select class="form-control quotation-form-control select2"
															id="cidade-destino" name="destinationCity"
															style="width: 100%;" required tabindex="4"></select>
													</div>

													<div class="form-group col-sm-12 col-md-6 col-lg-6">
														<label id="valor-mercadoria-label" for="valor-mercadoria">Valor
															total da mercadoria</label>
														<input type="text"
															class="form-control quotation-form-control cargoPrice"
															id="valor-mercadoria" placeholder="R$ 0,00"
															name="cargoPrice" required tabindex="5">
													</div>

													<div class="form-group col-sm-12 col-md-6 col-lg-6">
														<label id="weight-label" for="weight">Peso</label>
														<div class="input-group">
															<input type="number"
																class="form-control quotation-form-control form-control-input"
																id="weight" name="weight" placeholder="0" min="0"
																oninput="validity.valid||(value='');" required
																tabindex="6">
															<div class="input-group-append">
																<span class="input-group-text">Kg</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row col-12">
											<div class="d-flex justify-content-end col-sm-12 col-md-6 col-lg-6 mb-3">
												<button class="btn btn-quotation btn-block bg-gradient btn-lg col-12"
													tabindex="7" type="submit">Cotar</button>
											</div>
											<div class="d-flex justify-content-end col-sm-12 col-md-6 col-lg-6 mb-3">
												<button
													class="btn btn-danger btn-block bg-gradient btn-lg col-12 font-weight-bold"
													tabindex="8" id="cancelButton" type="button">Cancelar</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</section>
					</div>
			</div>
	</body>
	<%- include('../partials/footer.ejs') %>
		<script>
			$(function () {
				$("#quotationForm").validate({
					rules: {
						originState: {
							required: true,
						},
						destinationState: {
							required: true,
						},
						originCity: {
							required: true
						},
						destinationCity: {
							required: true
						},
						cargoPrice: {
							required: true
						},
						weight: {
							required: true
						}
					},
					messages: {
						originState: {
							required: "Selecione o estado de origem",
						},
						destinationState: {
							required: "Selecione o estado de destino",
						},
						originCity: {
							required: "Selecione a cidade de origem",
						},
						destinationCity: {
							required: "Selecione a cidade de destino",
						},
						cargoPrice: {
							required: "Preencha o valor da mercadoria",
						},
						weight: {
							required: "Preencha o peso da mercadoria",
						}
					},
					errorElement: 'span',
					errorPlacement: function (error, element) {
						error.addClass('invalid-feedback');
						element.closest('.form-group').append(error);
					},
					highlight: function (element, errorClass, validClass) {
						$(element).addClass('is-invalid');
						if (element.nodeName == "SELECT") {
							$(element).siblings('.select2').addClass('is-invalid');
						} else if (element.name == "weight") {
							$('.input-group-text').addClass('is-invalid');
						}
					},
					unhighlight: function (element, errorClass, validClass) {
						$(element).removeClass('is-invalid');
						if (element.nodeName == "SELECT") {
							$(element).siblings('.select2').removeClass('is-invalid');
						} else if (element.name == "weight") {
							$('.input-group-text').removeClass('is-invalid');
						}
					},
					submitHandler: function (form) {
						$(".preloader").show();

						const actionUrl = $(form).attr("action");

						$.ajax({
							type: "POST",
							url: actionUrl,
							data: $(form).serialize(),
							success: function (data) {
								window.location.href = "/quotation/" + data.docRef;
							},
							error: function (jqXHR, textStatus, error) {
								$("." + jqXHR.responseJSON.message).show();
								$(".preloader").hide();
							}
						});

						return false;
					}
				});

				$(document).ready(function () {
					selectStateAndCity("estado-origem", "cidade-origem", "quotation");
					selectStateAndCity("estado-destino", "cidade-destino", "quotation");
				});

				$('.cargoPrice').maskMoney({
					prefix: 'R$ ',
					allowNegative: false,
					thousands: '.',
					decimal: ',',
					affixesStay: true
				});

				document.getElementById("cancelButton").onclick = function () {
					location.href = "/quotation";
				};
			});

			$(document).ready(function () {
				var requiredFields = $("[required]");

				for (var i = 0; i <= requiredFields.length - 1; i++) {
					var fieldId = "#" + requiredFields[i].id + "-label";
					$(fieldId).addClass("required");
				}
			});

			$(".alert").on("close.bs.alert", function () {
				$(".alert").hide();
				return false;
			});
		</script>