<%- include('../partials/header.ejs') %>

    <body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
        <%- include('../partials/navbar2.ejs') %>
        <div class="wrapper user">
            <%- include('../partials/sidebar.ejs') %>
            <div class="container user">
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1>Usuários</h1>
                                    <% if(updateStatus) { %>
                                        <% if(updateStatus.completed) { %>
                                            <br>
                                            <div class="alert alert-success alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-check"></i> Sucesso!</h5>
                                                Usuário atualizado com sucesso!
                                            </div>
                                        <% } else { %>
                                            <br>
                                            <div class="alert alert-danger alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-ban"></i> Erro! </h5>
                                                Não foi possível atualizar o usuário devido à um erro!
                                            </div>
                                        <% } %>
                                    <% } %>
                                    <% if(createStatus) { %>
                                        <% if(createStatus.completed) { %>
                                            <br>
                                            <div class="alert alert-success alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-check"></i> Sucesso!</h5>
                                                Usuário cadastrado com sucesso!
                                            </div>
                                        <% } else { %>
                                            <br>
                                            <div class="alert alert-danger alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-ban"></i> Erro! </h5>
                                                Não foi possível cadastrar o usuário devido à um erro!
                                            </div>
                                        <% } %>
                                    <% } %>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item"><a href="/users">Usuários</a></li>
                                    </ol>
                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                    <section class="content">
                        <div class="container-fluid">
                            <button type="button" id="createButton" class="btn btn-primary mb-3 text-white font-weight-bold">Criar Usuário</button>
                            <table id="example1" class="table table-bordered table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>Login</th>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                        <th>Telefone</th>
                                        <th>Criado em</th>
                                        <th>Atualizado em</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% users.forEach(user => { %>
                                        <tr>
                                            <td><%= user.data().login %></td>
                                            <td><%= user.data().name %></td>
                                            <td><%= user.data().email %></td>
                                            <td><%= user.data().phone %></td>
                                            <td><%= user.data().createdAt ? moment(user.data().createdAt.toDate()).format("DD/MM/YYYY HH:mm") : user.data().createdAt %></td>
                                            <td><%= user.data().updatedAt ? moment(user.data().updatedAt.toDate()).format("DD/MM/YYYY HH:mm") : user.data().updatedAt %></td>
                                            <td>
                                                <a href="/users/edit/<%= user.id %>" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>

                                                <form method="POST" action="/users/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                                                    <input type="hidden" name="id" value="<%= user.id %>">
                                                    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
    <%- include('../partials/footer.ejs') %>
        <script>
            document.getElementById("createButton").onclick = function () {
                location.href = "/users/create";
            };

            $(function () {
                $("#example1").DataTable({
                    "responsive": true, "lengthChange": false, "autoWidth": false,
                    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            });

            function confirmDelete(event, form) {
                event.preventDefault();
                var decision = confirm("Você quer deletar este usuário?");

                if(decision) {
                    form.submit();
                }
            }
        </script>